<h2 class="text-center my-3">Update</h2> 
<div class="card w-75 mx-auto shadow p-4">
<%= form_for(@user, url: @user) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field form-outline mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-md" %>
  </div>

  <div class="field form-outline mb-4">
    <%= f.label :role_id, class: "label mb-0"  %><br>
    <%= f.collection_select :role_id, Role.all, :id, :name, class: "custom-select" %>
  </div>
 
  <div class="actions">
    <%= f.submit "Update",class:"btn btn-primary" %>
  </div>
<% end %>
</div>

