<div class="container">
  <% if user_signed_in? %>
    <% if current_user.role_id === 1 %>
      <table class ="table table-hover text-center">
          <thead >
            <tr>
              <th>ID</th>
              <th>EMAIL</th>
              <th>ROLE</th>
              <th>BALANCE</th>
              <th>STATUS</th>
            </tr>
          </thead>

          <tbody>
              <% User.all.each do |trader| %>
                <tr>
                  <% if trader.role_id === 2 %>
                    <td><%= trader.id %></td>  
                    <td><%= link_to trader.email, user_path(trader) %></td>  
                    <td><%= Role.find_by(id: trader.role_id).name %></td>  
                    <td><%= number_to_currency(trader.balance, unit: "$") %></td>  
                    <td><%= trader.status ? "approved" : "pending" %></td>
                  <% end %>  
                </tr>
               <% end %>
           </tbody>
      </table>
     <% end %>
  <% end %>
</div>
 

    
