<h1>Trade </h1>

<%= form_with url: cart_path, method: :get do |form| %>
  <%= form.hidden_field :user_stock_id, value: params[:user_stock_id] %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :ticker, value: params[:ticker] %>
  <%= form.select :trade_type, ["buy", "sell"] %>
  <%= form.label :quantity %>
  <%= form.number_field :quantity %>
  <%= form.submit 'Trade' %>
<% end %>


<div>
  <h3> Company Name: <%= @stock.name %></h3>
  <h3> Price: <%= @stock.last_price %></h3>
  <h3> Current quantity of  Stock: <%= @user_stock.stock_quantity %></h3>
</div>

<%= render 'cart' %>
